In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [86]:
def box_score_table_reader(path, start_season, end_season, file_end):
    
    all_df = pd.read_csv(path + 'NBA_' + str(start_season) + file_end)
    all_df['season'] = start_season
    
    for i in range(start_season + 1, end_season):
        df = pd.read_csv(path + 'NBA_' + str(i) + file_end)
        df['season'] = i 
        all_df = pd.concat([all_df, df])
    
    return(all_df)

In [87]:
file_end = '_games.csv'
path = 'C:/Users/Hp/Desktop/year2021/nba game prediction/data/box scores/'
df = box_score_table_reader(path, 2014, 2022, file_end)

In [88]:
df.head(2)

,Unnamed: 0,starter,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,...,STL,BLK,TOV,PF,PTS,+/-,team,team_id,game_id,season
0,0,1,LeBron James,38:01,5.0,11.0,0.455,0.0,1.0,0.0,...,1.0,0.0,2.0,0.0,17.0,8.0,Miami Heat,/teams/MIA/2014.html,201310290MIA.html,2014
1,1,1,Dwyane Wade,36:07,5.0,13.0,0.385,1.0,1.0,1.0,...,1.0,1.0,3.0,4.0,13.0,2.0,Miami Heat,/teams/MIA/2014.html,201310290MIA.html,2014

In [5]:
df.dtypes

Unnamed: 0      int64
starter         int64
Starters       object
MP             object
FG            float64
FGA           float64
FG%           float64
3P            float64
3PA           float64
3P%           float64
FT            float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
TRB           float64
AST           float64
STL           float64
BLK           float64
TOV           float64
PF            float64
PTS           float64
+/-           float64
team           object
team_id        object
game_id        object
season          int64
dtype: object

In [6]:
df.MP = df.MP.replace('Did Not Play', '00:00').replace('Did Not Dress', '00:00').replace('Not With Team', '00:00').replace('Player Suspended', '00:00')

df['played_min'] = df.MP.str.split(':', expand = True)[0]
df['played_sec'] = df.MP.str.split(':', expand = True)[1]

df.MP = df.MP.replace('Did Not Play', np.nan).replace('Did Not Dress', np.nan).replace('Not With Team', np.nan).replace('Player Suspended', np.nan)

df['played'] = np.where(df['FG'].isna(), False, True)
df.MP = np.where(df['MP'] == 'NaT', 0, df['MP'])

In [25]:
#df.to_csv('C:/Users/Hp/Desktop/year2021/nba game prediction/data/box scores/merged_seasons_2014_2021.csv')

In [49]:
df = pd.read_csv('C:/Users/Hp/Desktop/year2021/nba game prediction/data/box scores/NBA_2019_gamesbox_score.csv')

In [95]:
file_end = '_gamesbox_score.csv'
path = 'C:/Users/Hp/Desktop/year2021/nba game prediction/data/box scores/'
df = box_score_table_reader(path, 2014, 2022, file_end)

In [96]:
df['OT_dummy'] = np.where(df.OT.isna(), False, True)
df['hour'] = df['hour'].str.replace('p', '')
df['date'] = pd.to_datetime(df.date, format = '%a, %b %d, %Y')
df['day'] = df.date.dt.day
df['month'] = df.date.dt.month
df['year'] = df.date.dt.year
df['day_name'] = df.date.dt.day_name()
df.att = pd.to_numeric(df.att.str.replace(',', ''))

In [97]:
df.dtypes

Unnamed: 0                 int64
date              datetime64[ns]
hour                      object
visitor                   object
visitor_id                object
visitor_score              int64
home                      object
home_id                   object
home_score                 int64
box_score_link            object
OT                        object
att                      float64
season                     int64
OT_dummy                    bool
day                        int64
month                      int64
year                       int64
day_name                  object
dtype: object